<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBConn" connectionString="server=139.159.218.105;database=Myhome;uid=zwj;pwd=jy.9426464"/>
  </connectionStrings>
</configuration>